.abilities{
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    padding: 1rem 2rem;
    border-radius: 10px;
    text-align: center;
    h3{
        text-decoration: underline;
        letter-spacing: 2px;
    }

    span{
        padding: 1px 5px;
        border:1px solid black;
        border-radius: 10px;
        margin: 5px;
        text-transform: uppercase;
    }
}