.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    span{
        font-size: 1.5rem;
        color: black;
    }
}